.notification {
    position: fixed;
    top: 20px;
    right: -150%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    padding: 10px;
    font-size: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: right 0.3s ease-in-out;
  }
  
  .notification.visible {
    right: 50%; 
    transform: translate(50%); 
  }